body {
	margin: 0px;
	background-image: url(img/wood2.jpg);
	font-family: sans-serif;
}

.movement-0 {
	background-image: url(img/movement/0.png);
	background-position: 50% 100%;
}
.movement-0:hover {
	background-image: url(img/movement/0-hover.png);
}

.movement-1 {
	background-image: url(img/movement/1.png);
	background-position: 0% 50%;
}
.movement-1:hover {
	background-image: url(img/movement/1-hover.png);
}

.movement-2 {
	background-image: url(img/movement/2.png);
	background-position: 50% 00%;
}
.movement-2:hover {
	background-image: url(img/movement/2-hover.png);
}

.movement-3 {
	background-image: url(img/movement/3.png);
	background-position: 100% 50%;
}
.movement-3:hover {
	background-image: url(img/movement/3-hover.png);
}

#status {
	width: 220px;
	height: 100%;
	position: fixed;
	right: 30px;
	top: 0px;
}

#status #bottom {
	background-image: url(img/status/bg.png);
	width: 100%;
	height: 200px;
	position: absolute;
	right: 0px;
	bottom: 24px;
}

#status #bottom .digit {
	width: 24px;
	height: 24px;
	background-image: url(img/status/digits.png);
	position: absolute;
}

#status #portrait {
	width: 118px;
	height: 118px;
	margin: 30px auto 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

#status #name {
	width: 185px;
	height: 36px;
	line-height: 30px;
	background-image: url(img/status/name.png);
	margin: auto;
	text-align: center;
	color: white;
	text-shadow: -1px -1px 0px #000;
	font-weight: bold;
	font-size: 94%;
}

