body {
	margin: 0px;
	background-image: url(img/wood2.jpg);
	font-family: sans-serif;
}

#loading {
	color: white;
	font-size: 200%;
	text-align: center;
	margin-top: 20%;
}

#setup {
	width: 961px;
	height: 580px;
	background-image: url(img/setup/bg2.png);
}

#setup div, #setup img {
	cursor: pointer;
}

#setup img {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

#setup img:hover {
	border: 2px solid red;
	bottom: 38px;
	right: 38px;
}

#setup input {
	border: none;
	padding: 0px;
	background-color: transparent;
	font-size: 140%;
	font-style: italic;
	font-family: times, serif;
}

.movement-0 {
	background-image: url(img/movement/0.png);
	background-position: 50% 100%;
}
.movement-0:hover {
	background-image: url(img/movement/0-hover.png);
}

.movement-1 {
	background-image: url(img/movement/1.png);
	background-position: 0% 50%;
}
.movement-1:hover {
	background-image: url(img/movement/1-hover.png);
}

.movement-2 {
	background-image: url(img/movement/2.png);
	background-position: 50% 00%;
}
.movement-2:hover {
	background-image: url(img/movement/2-hover.png);
}

.movement-3 {
	background-image: url(img/movement/3.png);
	background-position: 100% 50%;
}
.movement-3:hover {
	background-image: url(img/movement/3-hover.png);
}

#info { 
	width: 600px;
	height: 102px;
	padding: 18px;
	color: #3a1600;
	font-weight: bold;
	background-image: url(img/paper.png);
}

#info img {
	float:left;
	margin-right:10px; 
}

#info p {
	margin: 0px;
}

#status {
	width: 220px;
	height: 100%;
	position: fixed;
	right: 30px;
	top: 0px;
}

#status #bottom {
	background-image: url(img/status/bg.png);
	width: 100%;
	height: 200px;
	position: absolute;
	right: 0px;
	bottom: 24px;
}

#status #bottom h2 {
	color: white;
	text-align: center;
	font-style: italic;
	text-shadow: -0.08em -0.08em 0px #000; 
	margin: 0px;
}

#status #bottom h2:first-child {
	margin-top: 13px;
}

#status #bottom .digit {
	width: 24px;
	height: 24px;
	background-image: url(img/status/digits.png);
	position: absolute;
}

#status #bottom .label {
	position: absolute;
	left: 20px;
	color: #3a1600;
	font-weight: bold;
}

#status #bottom #node-image {
	position: absolute;
	right: 29px;
	bottom: 27px;
}

#status #portrait {
	width: 118px;
	height: 118px;
	margin: 30px auto 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

#status #name {
	width: 185px;
	height: 36px;
	line-height: 30px;
	background-image: url(img/status/name.png);
	margin: auto;
	text-align: center;
	color: white;
	text-shadow: -0.08em -0.08em 0px #000; 
	font-weight: bold;
	font-size: 94%;
}

